# Development config uses base config
development:
  # We can compose more than one at a time.
  ~compose: [base, web]
  # Declare additional settings..
  DEV_MODE: true
  service: ''
  user: ''
  pass: ''

# Production config composes and overrides other sections
production:
  ~compose: development
  service: ''
  user: ''
  pass: ''